* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0 0 0 0;
}

h1 {
	margin-top: 0px;
	margin-left: 10px;
}

header {
	background-color: grey;
	border: 1 px solid black;
}

.forecastDay {
	border: 1px solid grey;
	border-radius: 2px;
}

.forecastDay p {
	text-align: center;
	color: black;
	font-size: 1.15em;
	opacity: 1.0;
}

.forecastDay img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.js-forecast-1 {
	margin-top: 20px;
}

.hidden {
	display: none;
}

.search-bar-div {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

.search-bar {
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
	display: block;
}

.search-button {
	font-size: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.shifted {
	position: relative;
	top: 300px;
}

.search-instructions {
	font-size: 12px;
	opacity: 0.7;
	text-align: center;
	margin-top: 15px;
}

.results-header {
	text-align: center;
	font-size: 20px;
}

.credit-logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.current-conditions {
	display: block;
}

#header-credit {
	display: inline;
	font-size: 14px;
	margin-left: 10px;
}

#header-title {
	display: inline;
}

#credit-link {
	color: black;
}

.header p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.current {
	text-align: center;
	border: 1px solid grey;
}

.Rain {
	background-image: url('http://static3.bigstockphoto.com/thumbs/5/4/1/large1500/145489445.jpg');
}

.Overcast {
	background-image: url('http://static2.bigstockphoto.com/thumbs/9/2/1/large1500/129803924.jpg');
}

.Chance_of_Rain {
	background-image: url('http://static1.bigstockphoto.com/thumbs/5/4/1/large1500/145489409.jpg');
}

.Partly_Cloudy {
	background-image: url('http://static2.bigstockphoto.com/thumbs/5/3/1/large1500/135982817.jpg');
}

.Mostly_Cloudy {
	background-image: url('http://static3.bigstockphoto.com/thumbs/2/2/1/large1500/122195.jpg');
}

.Clear {
	background-image: url('https://pattip0414.files.wordpress.com/2016/05/sunny-day.jpg');
}

.Snow {
	background-image: url('http://static1.bigstockphoto.com/thumbs/1/5/1/large1500/151445573.jpg');
}

@media only screen and (max-device-width: 425px) {
	body {
		padding: 10px;
	}

	.search-bar {
		width: 100%;
		font-size: 40px;
		height: 75px;
	}

	#header-credit {
		display: block;
		text-align: left;
		margin-top: 0;
	}
}
