* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0 0 0 0;
	background-image: url('images/weather.png');
}

h1 {
	margin-top: 0px;
	margin-left: 10px;
}

header {
	background-color: grey;
	border: 1 px solid black;
}

.forecastDay {
	border: 1px solid grey;
	border-radius: 2px;
}

.forecastDay p {
	text-align: center;
	color: black;
	font-size: 1.15em;
}

.forecastDay img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.js-forecast-1 {
	margin-top: 20px;
}

.hidden {
	display: none;
}

.city-image {
	border-radius: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.img-holder{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.search-bar-div {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

.search-bar {
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
	display: block;
}

.search-button {
	font-size: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.shifted {
	position: relative;
	top: 300px;
}

.search-instructions {
	font-size: 12px;
	opacity: 0.7;
	text-align: center;
	margin-top: 15px;
}

.results-header {
	text-align: center;
	font-size: 25px;
}

.credit-logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.current-conditions {
	display: block;
}

#header-credit {
	display: inline;
	font-size: 14px;
	margin-left: 10px;
}

#header-title {
	display: inline;
}

#credit-link {
	color: black;
}

#error {
	color: red;
	font-size: 1.2em;
	text-align: center;
}

.header p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.current {
	text-align: center;
	border: 1px solid grey;
}

.conditions {
	height: 30px;
}

.Rain {
	position: relative;
}

.Rain::after {
	content: '';
	background-image: url('https://static3.bigstockphoto.com/thumbs/5/4/1/large1500/145489445.jpg');
	opacity: 0.6;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Overcast {
	position: relative;
}

.Overcast::after {
	content: '';
	background-image: url('https://static2.bigstockphoto.com/thumbs/9/2/1/large1500/129803924.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Chance_of_Rain {
	position: relative;
}

.Chance_of_Rain::after {
	content: '';
	background-image: url('https://static1.bigstockphoto.com/thumbs/5/4/1/large1500/145489409.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Partly_Cloudy {
	position: relative;
}

.Partly_Cloudy::after {
	content: '';
	background-image: url('http://static3.bigstockphoto.com/thumbs/5/4/1/large1500/145989095.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Mostly_Cloudy {
	position: relative;
}

.Mostly_Cloudy::after {
	content: '';
	background-image: url('https://static3.bigstockphoto.com/thumbs/2/2/1/large1500/122195.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Clear {
	position: relative;
}

.Clear::after {
    content: '';
	background-image: url('https://pattip0414.files.wordpress.com/2016/05/sunny-day.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Snow {
	position: relative;
}

.Snow::after {
	content: '';
	background-image: url('http://static2.bigstockphoto.com/thumbs/3/5/1/large1500/153177671.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Chance_of_a_Thunderstorm {
	position: relative;
}

.Chance_of_a_Thunderstorm::after {
	content: '';
	background-image: url('http://static3.bigstockphoto.com/thumbs/6/5/4/large1500/4560508.jpg');
	opacity: 0.3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Thunderstorm {
	position: relative;
}

.Thunderstorm::after {
	content: '';
	background-image: url('http://static3.bigstockphoto.com/thumbs/6/5/4/large1500/4560508.jpg');
	opacity: 0.3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 125%;
}

.Scattered_Clouds {
	position: relative;
}

.Scattered_Clouds::after {
	content: '';
	background-image: url('http://static3.bigstockphoto.com/thumbs/3/6/1/large1500/163666955.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Snow_Showers {
	position: relative;
}

.Snow_Showers::after {
	content: '';
	background-image: url('http://static2.bigstockphoto.com/thumbs/3/5/1/large1500/153177671.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Light_Ice_Pellets {
	position: relative;
}

.Light_Ice_Pellets::after {
	content: '';
	background-image: url('http://1ul4bt3se09x1ot2q02ob5co.wpengine.netdna-cdn.com/wp-content/uploads/2015/08/hailstorms.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}

.Ice_Pellets {
	position: relative;
}

.Ice_Pellets::after {
	content: '';
	background-image: url('http://1ul4bt3se09x1ot2q02ob5co.wpengine.netdna-cdn.com/wp-content/uploads/2015/08/hailstorms.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-size: 100% 115%;
}



@media only screen and (max-device-width: 425px) {
	body {
		padding: 10px;
	}

	.search-bar {
		width: 100%;
		font-size: 40px;
		height: 75px;
	}

	#header-credit {
		display: block;
		text-align: left;
		margin-top: 0;
	}

	.shifted {
		top: 100px;
	}

	.city-image {
		width: 302px;
		height: 198px;
		border-radius: 10px;
		display: block;
	}
}
